.big-header {
    color: blue;
}

.medium-header {
    color: #8B8000;
}

.small-header {
    color: #00FF00
}

img {
    width: 500px;
    height: auto;
    border: 5px solid black;
}

.center {
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
}
